.Button {
  color: #f8fe76;
  background-color: #3ecab3;
  position: fixed;
  border: solid 5px #2a8d7e;
  border-radius: 6px;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  font-size: 40px;
  font-weight: bold;
  box-shadow: rgba(50, 50, 93, 0.25) 0 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0 1px 3px -1px;
  padding: 5px 10px;
}

.Button--next {
  bottom: 10px;
  right: 10px;
}

.Button--prev {
  bottom: 10px;
  left: 10px;
}

.Button--inactive {
  border: solid 5px #818181;
  color: #f0efef;
  background-color: #c1c2c2;
}
